/* In all */
*{
	box-sizing: border-box;
}

.container {
	background-image: url("http://i.imgur.com/RsbysQo.png");
	/*height: 800px;*/
	height: 100%;
	width: 100%;
}

header {
	font-family:'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
	color: #4aaaa5;
	float: left;	
	display: inline;
	width: 100%;
	padding-bottom: 0px;
	border: 2px;
	top: 0px;
	position: absolute;
}


h1 {
	background-color: #4aaaa5;
	margin-left: 50px;
	margin-bottom: 0px;
	padding: 30px;
	color: #eeeeee;
	font-size: 40px;
	text-align: center;
	float: left;
}

ul {
	float: right;
	padding-top: 80px;
	margin-right: 200px;
	margin-bottom: 0px;
	font-size: 20px;
}

li {
	border-right: 1px solid #bbb;
	display: inline-block;
	padding-right:8px;
	padding-left: 3px;
	position: relative;
	right: 5%;
	margin-bottom: 0px;
}


li:last-child {
    border-right: none;
}

li a {
	text-decoration: none;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-left: 1px #777777;
}


h4 {
	color: #4aaaa5;
	font-size: 30px;
	margin-left: 30px;
	margin-bottom: 0px;
}

.social {
	position: absolute;
	right: 5%;
	top: 21%;
	height: 150px;
	background: #ffffff;
	padding: 20px;
	display: inline-block;
}

h5 {
	font-size: 20px;
	/*margin-bottom: 0px;*/
	padding: 0px;
	margin-top: 33px;
	margin-bottom: 3px;

}

.icon {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.border1 {
	background: #dddddd;
	height: 5px;
	margin: 132px 0 20px 0;
}

.border2 {
	background: #dddddd;
	height: 5px;
	margin: 0px;
	margin-bottom: 10px;
}

.border3 {
	background: #dddddd;
	height: 5px;
	margin: 0px;
	position: relative;
	width: 150%;

}

#line {
	border-color: #dddddd;
	margin-top: 0px;
	width: 1000px;
}

footer {
	font-size: 10px;
	text-align: center;
	background-color: #4aaaa5;
	padding: 20px;
	color: #dddddd;
	width: 150%;
	margin-top: 0px;
}

.me {
	display: inline-block;
    width: 65%;
    height: 75%
    margin-left: 50px;
    margin-top: 20px;
    padding-top: 0px;
    padding-bottom: 50px;
	background-color: #ffffff;
	margin-bottom: 20px;
	position: relative;
	top: 21%;

}


/* About */


#about {
    width: 60%;
    height: 200px;
   	margin-left: 350px;
   	display: inline-block;
}

#pic {
    margin-left: 30px;
    width: 19%;
    height:200px;
}

/* Contact */
form {
	margin-top: 27px;
	color: #777777;
	margin-left: 30px;
}

input, textarea {
	border: 1px solid #dddddd;
	width: 80%;
	margin-top: 7px;
	padding: 9px;

	font-size: 14px;
	color: #a9a9a9;
}

input[type=submit] {
	background: #4aaaa5;
	border: 0px;
	outline: none;
	width: auto;
	margin-top: 15px;
	padding: 10px 30px;

	font-size: 18px;
	color: white;

	transition: all 0.2s linear;
}

input[type=submit]:hover {
	background: #777777;
}

textarea {
	height: 198px;
}

/* Portfolio */

.Portfolio {
    position: relative;
	margin: 10px;
	background-color: black;
}

.grandparent {
	display: inline-flex;
	width: 60%;
	padding: 20px;
	position: relative;
	margin-bottom: 10px;

}

.child {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 70%;
	/*bottom: 50%;*/
	/*margin-bottom: 10px;	*/
	/*padding: 10px;*/
	opacity: .8;
	background-color: #4aaaa5; 

}

.child p {
	color: #cccccc;
	text-align: center;
	margin-top: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

img.portfoliopic {
	width: 250px;

}

@media screen and (max-width: 980px) {
	.social {
		float: right;
		margin-right: 100px;
	}
}

@media screen and (max-width: 768px) {
	.me {
		display: inline-block;
		width: 90%;
		text-align: center;
		top: 50%;
		position: relative;
	}

	.social {
		display: block;	
		position: relative;
		clear: both;
		bottom: 5px;
		width: 90%;
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;
		padding: 5px;
	}

	.background {
		display: inline-block;
	}

	#about {
		width: 40%;
		padding-top: 0px;
	}
	
	ul {
		display: block;
		float: none;
		text-align: center;
		position: relative;
	}

	h1 {
		text-align: center;
	}

	.border1 {
		border: 2px solid #dddddd;
		margin: auto;
	}
}

@media screen and (max-width: 640px) {

	ul {
		padding-top: 0px;
		margin-right: 20px;
	}
	
	.me {
		display: block;	
	}
}